<ul class="h-menu medium right">
    <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/create">NewBlog</a></li>
    <li><a href="/about"><span class="mif-bubble icon"></span>About</a></li>
</ul>