<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %> 


    <body>
      <h1 class="text-left">Node js Blogs</h1>
  
      <%- include('../partials/menu.ejs') %> 
    

      <div>
          <h2>All blogs</h2>
      </div>
    
    
      <hr>

      <div class="row">
        <div class="cell-4 offset-4">
            <ul class="items-list">
                <li>
                    <img class="avatar" src="images/me.jpg">
                    <span class="label">List item</span>
                    <span class="second-label">second label</span>
                    <span class="second-action mif-alarm fg-red"></span>
                </li>
                
                <li class="item ">
                    <img class="avatar" src="images/me.jpg">
                    <span class="label">List item</span>
                </li>
            </ul>

        </div>

            </div>
  
    
    

</body>
</html>