<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %> 
<body>
    <h1 class="text-left">Node js Blogs</h1>

    <%- include('../partials/menu.ejs') %> 
  

    <div>
        <h2>Create New Blog</h2>
    </div>
  
  
    <hr>

        <div class="window-content p-2">
            <div class="row">
                <div class="cell-4 offset-4"><div>
                    <form>
                        <div class="form-group">
                            <input type="text" data-role="materialinput"
                            data-label="Title"
                            placeholder="Blog Title">
                        </div>
                        <div class="form-group">
                            <input type="text" data-role="materialinput"
                            data-label="Email"
                            placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <textarea data-role="textarea" data-prepend="<span class='mif-leanpub'></span>"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="button shadowed primary large rounded    ">Save</button>
                        </div>
        
                        
        
                       
        
                </form>
        
                </div></div>
            </div>
        
        </div>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>