
<html lang="en">
  
<%- include('../partials/header.ejs') %> 


  <body>
    <h1 class="text-left">Node js Blogs</h1>

  
    <hr>

    <%- include('../partials/menu.ejs') %> 
  

    
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>